@font-face {
    font-family: 'runescape';
    src: url('assets/RuneScape-Chat-Bold-07.ttf') format('truetype');
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    
    font-family: 'runescape';
    font-size: 28px;
    color: yellow;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

#game {
    background-image: url('assets/grass.jpg');
    background-size: 64px;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* disable text selection */
    user-select: none;


}

#ui {
    box-sizing: border-box;
    z-index: 69;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    flex-direction: column;
    background-color: rgba(40, 54, 31, 0.8);
    border: 10px solid rgb(38, 41, 37);
    width: 100%;
}

.shop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.workers-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}


.worker-storage-container > h2 {
    margin: 10;
    padding: 0;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

.worker-storage-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

#worker-storage-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#worker-storage-content > * {
    margin: 10px;
}

.worker-storage-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
    margin-left: 32px;
}

.worker-storage-button > img {
    width: 100%;
    height: 100%;
}

.workers {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.workers > * {
    margin: 10px;
}
button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.button-icon {
    width: 28px;
    height: 28px;
}

.tree {
    font-size: 50px;
    margin: 20px;
    border-radius: 10%;
    position: absolute;
}


.tree:hover {
    cursor: pointer;
}

.header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}


.right-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    padding: 0;
}

.left-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: auto;
    padding: 0;
}



.stats {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.stats > * {
    margin: 10px;
}

.tooltip {
    display: none;
    position: absolute;

    background-color: rgb(40, 46, 34);
    color: yellow;
    padding: 10px;
    border-radius: 1px;
    border: 3px solid black;
    font-size: 16px;
    top: 60px;
    left: 15px;
    text-wrap: nowrap;
    z-index: 1;
}


*:hover > .tooltip {
    display: block;
}

.right-click-menu {
    display: none;
    position: fixed;
    background-color: rgb(40, 46, 34);
    color: yellow;
    padding: 0;
    border-radius: 1px;
    border: 3px solid black;
    font-size: 16px;
    z-index: 100;
    width: 150px;
}

.right-click-menu:hover {
    display: flex;
    flex-direction: column;
    transition: 0s display;
}

.right-click-menu.clicked {
    display: flex;
    flex-direction: column;
}


.right-click-menu > div:hover {
    background-color: white;
    color: rgb(40, 46, 34);
}



.message-box {
    position: absolute;
    background-color: rgb(40, 46, 34);
    color: yellow;
    padding: 10px;
    border-radius: 1px;
    border: 3px solid black;
    font-size: 16px;
}



.tree:hover::before {
    content: '🪓';
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 64px;
    z-index: 5;
    animation: chopping 0.6s infinite;
    transform-origin: 100% 100%;
}

.chopping {
    animation: chopping 0.6s infinite;
    transform-origin: bottom;
}

.chopped {
    display: none;
}

@keyframes chopping {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(8deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#trees {
    box-sizing: border-box;
    flex-grow: 1;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.ui-button {
    background-color: rgb(40, 46, 34);
    color: yellow;
    border-radius: 1px;
    border: 3px solid black;
    font-size: 16px;
    font-family: 'runescape';
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

#buyXPButton {
    position: relative;
}

.ui-button:hover {
    background-color: white;
    color: rgb(40, 46, 34);
}

.ui-button:active {
    color: yellow;
    background-color: rgb(40, 46, 34);
}

.ui-button:disabled {
    background-color: rgba(40, 46, 34, 0.5);
    cursor: not-allowed;
}

.worker {
    width: 64px;
    height: 64px;
    position: relative;
    border: 2px solid darkslategray;
    border-radius: 5px;
    text-align: center;
    /* center the text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.worker-in-game {
    position: absolute;
    height: 64px;
}

@media screen and (max-width: 600px){
    .ui-button {
        font-size: 12px;
        padding: 5px 8px;
        border: 2px solid black;
    }

    .header {
        font-size: 12px;
    }

    .stats {
        font-size: 12px;
    }

    .tooltip {
        font-size: 12px;
    }

    .message-box {
        font-size: 12px;
    }

    .worker {
        width: 32px;
        height: 32px;
        font-size: 12px;
    }

    .worker > img {
        width: 32px;
        height: 32px;
    }

    .worker-in-game > img {
        width: 32px;
    }

    .tree {
        font-size: 32px;
    }

    .tree > img {
        width: 42px;
    }
    
}

.dialog {
    background-color: rgb(40, 46, 34);
    color: yellow;
    padding: 10px;
    border-radius: 1px;
    border: 3px solid black;
    font-size: 16px;
    width: 90vw;
    max-width: 800px;
    height: 50vh;
    max-height: 600px;
    z-index: 100;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px black;
}

.dialog::backdrop {
    backdrop-filter: blur(5px);
    /* no events on the backdrop */
    pointer-events: none;
}

.dialog-title {
    font-size: 24px;
    font-weight: bold;
}

.dialog-content {
    font-size: 16px;
}

.dialog-close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 46, 34);
    color: yellow;
    border: 2px solid black;
}

.dialog-close:hover {
    background-color: white;
    color: rgb(40, 46, 34);
}

.confirm-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 46, 34);
    color: yellow;
    padding: 10px;
    border-radius: 1px;
    border: 3px solid black;
    font-size: 16px;
}

.confirm-dialog > * {
    margin: 10px;
}

.confirm-dialog::backdrop {
    backdrop-filter: blur(5px);
    /* no events on the backdrop */
    pointer-events: none;
}

.xp-drop {
    position: absolute;
    font-size: 24px;
    color: yellow;
    z-index: 100;
    animation: xp-drop 2.5s ease-out;
}

@keyframes xp-drop {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-150px);
        opacity: 0;
    }
}

.selectedChar {
    border: 2px solid yellow;
}

.characterRollAnimation {
    animation: characterRoll 3s ease-in-out;
    width: 69vw;
    height: 69vw;
    max-width: 69vh;
    max-height: 69vh;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    filter: blur(0vw);
    z-index: 69;
    transform: scale(0);
}

.characterRollAnimation * *::after {
    content: '';
    position: absolute;
    /* special effects */
    width: 256px;
    height: 256px;
    left: 25%;
    top: 25%;
    border-radius: 50%;
    background-color: orangered;
    display: block;
    animation: characterRollEffect 11s linear infinite, characterMoveEffect 6s linear infinite, characterScaleEffect 7s linear infinite;
    z-index: 59;
}

.characterRollAnimation * *::before {
    content: '';
    position: absolute;
    /* special effects */
    width: 256px;
    height: 256px;
    left: 75%;
    top: 75%;
    transform: rotate(180deg);
    border-radius: 50%;
    background-color: purple;
    display: block;
    animation: characterRollEffect 7s linear infinite, characterMoveEffect 6s linear infinite, characterScaleEffect 5s linear infinite;
    z-index: 59;
}


@keyframes characterRollEffect {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes characterMoveEffect {
    0% {
        transform: translate(-450px, -450px)
    }
    50% {
        transform: translate(450px, 450px)
    }
    100% {
        transform: translate(-450px, -450px)
    }
}

@keyframes characterScaleEffect {
    0% {
        transform: scale(0.5)
    }
    50% {
        transform: scale(1.5)
    }
    100% {
        transform: scale(0.5)
    }
}

@keyframes characterBounceEffect {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-50%)
    }
    100% {
        transform: translateY(0)
    }
}

@keyframes characterRoll {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1)
    }
}

.character-roll-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 46, 34);
    color: yellow;
    padding: 10px;
    border-radius: 1px;
    border: 3px solid black;
    font-size: 16px;
    width: 90vw;
    max-width: 800px;
    height: 50vh;
    max-height: 600px;
    z-index: 100;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px black;
    transform: scale(0);

    animation: characterRoll 3s ease-in-out 1;
    animation-fill-mode: forwards;
}

.character-roll-card::backdrop {
    backdrop-filter: blur(5px);
    /* no events on the backdrop */
    pointer-events: none;
    animation: backdropAnimation 3s ease-in-out 1;
}

@keyframes backdropAnimation {
    0% {
        backdrop-filter: blur(0px);
    }
    100% {
        backdrop-filter: blur(10px);
    }
}

.character-roll-header {
    display: flex;
    flex-direction: column;
}

.character-roll-header > * {
    margin: 10px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}

.character-roll-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.character-roll-name {
    font-size: 42px;
    font-weight: bold;
}

.character-roll-rarity {
    font-size: 36px;
}

.character-roll-stats {
    font-size: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
}

.character-roll-stat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
    background-color: rgb(61, 66, 56);
    cursor: pointer;
}

.character-roll-image {
    width: 30%;
    margin: 24px;
    border-radius: 5px;
    text-align: center;
    /* center the text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.right-click-menu > * {
    cursor: pointer;
    padding: 5px;
    margin: 0;
    border: 0;
    font-size: 16px;

}