@font-face {
    font-family: 'runescape';
    src: url('assets/RuneScape-Chat-Bold-07.ttf') format('truetype');
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    
    font-family: 'runescape';
    font-size: 28px;
    color: yellow;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

#game {
    background-image: url('assets/grass.jpg');
    background-size: 64px;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* disable text selection */
    user-select: none;


}

#ui {
    box-sizing: border-box;
    z-index: 69;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0px;
    padding: 20px;
    flex-direction: column;
    background-color: rgba(40, 54, 31, 0.8);
    border: 10px solid rgb(38, 41, 37);
    width: 100%;
}

#ui > div {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#ui > div > * {
    margin: 10px;
}
button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.tree {
    font-size: 50px;
    margin: 20px;
    border-radius: 10%;
    position: absolute;
}


.tree:hover {
    cursor: pointer;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: rgb(40, 46, 34);
    color: yellow;
    padding: 10px;
    border-radius: 1px;
    border: 3px solid black;
    font-size: 16px;
    top: 60px;
    left: 15px;
    width: 150px;
}

*:hover > .tooltip {
    display: block;
}

.message-box {
    position: absolute;
    background-color: rgb(40, 46, 34);
    color: yellow;
    padding: 10px;
    border-radius: 1px;
    border: 3px solid black;
    font-size: 16px;
}



.tree:hover::before {
    content: '🪓';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 64px;
    z-index: 1;
}

.chopping {
    animation: chopping 0.6s infinite;
    transform-origin: bottom;
}

.chopped {
    display: none;
}

@keyframes chopping {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(8deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#trees {
    box-sizing: border-box;
    flex-grow: 1;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.ui-button {
    background-color: rgb(40, 46, 34);
    color: yellow;
    padding: 10px;
    border-radius: 1px;
    border: 3px solid black;
    font-size: 16px;
}

.ui-button:hover {
    background-color: white;
    color: rgb(40, 46, 34);
}

.ui-button:active {
    color: yellow;
    background-color: rgb(40, 46, 34);
}

.ui-button:disabled {
    background-color: rgba(40, 46, 34, 0.5);
    cursor: not-allowed;
}

.worker {
    width: 64px;
    height: 64px;
    position: relative;
    border: 2px solid darkslategray;
    border-radius: 5px;
    text-align: center;
    /* center the text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.worker-in-game {
    position: absolute;
    height: 64px;
}

.dialog {
    position: absolute;
    background-color: rgb(40, 46, 34);
    color: yellow;
    padding: 10px;
    border-radius: 1px;
    border: 3px solid black;
    font-size: 16px;
    width: 90vw;
    max-width: 800px;
    height: 50vh;
    max-height: 600px;
    z-index: 100;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px black;
}

.dialog::backdrop {
    backdrop-filter: blur(5px);
    /* no events on the backdrop */
    pointer-events: none;
}

.dialog-title {
    font-size: 24px;
    font-weight: bold;
}

.dialog-content {
    font-size: 16px;
}

.dialog-close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 46, 34);
    color: yellow;
    border: 2px solid black;
}

.dialog-close:hover {
    background-color: white;
    color: rgb(40, 46, 34);
}

.xp-drop {
    position: absolute;
    font-size: 24px;
    color: yellow;
    z-index: 100;
    animation: xp-drop 2.5s ease-out;
}

@keyframes xp-drop {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-150px);
        opacity: 0;
    }
}